
/* Casita */

.casita {
    background: rgb(255,222,89);
    background: radial-gradient(circle, rgba(255,222,89,1) 0%, rgba(175,148,42,1) 100%);
  div{
       img{
          width: 90%;
        }
       p {
          margin: 10%;
          font-size: 7vw;
          text-align: center;
          padding: 5%;
          font-family: 'Pangolin', cursive;
          text-transform: uppercase;
          color: white;
        }
    }
}
.casita a {
    text-decoration: none;
    color: palevioletred;
}
@media (min-width: 700px){
    .casita {
        div{
            img{
                width: 70%;
            } 
            p {
              font-size: 4vw;
            }
        }
    }
}
@media (min-width: 950px){
    .casita{ 

        div {
        opacity: 0.85;
      
          img{
            width: 30%;
         }
           p {
           font-size: 3vw;
           margin: 3%;
           padding: 3%;
         }
        }
    }
}