
/* CasaOnline */

.CasaOnline {
    padding: 4% 0%;
    margin: 0;
    background-color: #d9d2c5;


  div {
       .CasaOnline__img {
         width: 90vw;
        }  
      .none {
         display: none;
         text-align: center;
         font-size: 3em;
         color: #8a7554;
        }
       p {
         margin-top: 5%;
         margin-bottom: 5%;
         width: 60vw;
         font-weight: 500;
         font-size: 5vw;
         color: #8a7554;
         text-align: center;
        }
        .logoFb{
            width: 10%;
            padding: 0;
            margin: 0;
        }
        .logoIg{
            width: 10%;
            padding: 0;
            margin: 0;
        }
    }
}
@media (min-width: 700px){
    .CasaOnline{ 
        div{
            .CasaOnline__img{
                width: 70%;
                margin-top: 3%;
            }
            p {
              font-size: 5vw;
            }
            .logoFb{
                width: 8%;
                padding: 0;
                margin: 0;
            }
            .logoIg{
                width: 8%;
                padding: 0;
                margin: 0;
            }
        }
    }
}
@media (min-width: 950px){
        /* CasaOnline */
        .CasaOnline{
        
            div {
                .CasaOnline__img {
                width: 30%;
                margin: 0;
                padding: 0;
                }
              .none {display: block;}
    
              p {
                margin: 3%;
                font-size: 1.5em;
              }
              .logoFb{
                width: 5%;
                padding: 0;
                margin: 0;
            }
               .logoIg{
                width: 5%;
                padding: 0;
                margin: 0;
               }
            }
        } 
    
}