
/* Devocionales */

.devocionales {
    text-align: center;
    padding: 5%;
    background: $backblack;
    color: white;

    div{

       iframe{
        width: 100%;
        height: 90vw;
        padding: 5%;
     }
       h3 {
       font-size: 2em;
       padding: 3%;
      }
       p {
        font-size: 1.5em;
       padding: 3%;
      }
       a {
       text-decoration: none;
       color: #d13282;
      }
      .devocionales__iframe2{
       display: none;
      }
    }
}
@media (min-width: 700px){
    .devocionales{ 

        div{ 

          iframe {
            width: 70%;
            height: 70vw ;
          }
           h3 {
            font-size: 3em;
            padding: 3%;
          }
           p {
            font-size: 2em;
            padding: 3%;
          }
        }
    }
}
@media (min-width: 950px){
    .devocionales{ 

        div{
          
           iframe {
            width:500px; 
            height:450px;
           }
           h3 {
            font-size: 3em;
            padding: 3%;
           }
           p {
            font-size: 2em;
            padding: 3%;
           }
           .devocionales__iframe2{
            display: block;
           }
        }   
    }
}